*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: linear-gradient(to left, #00074c, #000e4d, #00134e, #00174e, #021b4e, #021b4e, #021b4e, #021b4e, #00174e, #00134e, #000e4d, #00074c);
    
}   
/*-----Estilos Cabezera----*/

.navbar-brand span{
    color: white;
}
.nav .nav-link{
    color: white;   
    font-weight: bold;
}
.nav .nav-link i{
    color: orange;
    padding-left: 10px;
}

/*-----Estilos contenido----*/

.contenido{
    min-height: 100vh;
}


.text-foot i{
    color: orange;
}
.card-img-top{
    width: 30px;
}
.card:hover{
    filter: brightness(110%);
}