$color-fondo-primario: #21212c;
$color-detalles: #FF6600;
$color-texto-primario: white;
$color-texto-secundario:#FF6600;

$textos-titulos: 30pt;
$textos-subtitulos: 18pt;
$textos-etiquetas: 8pt;
$textos-parrafos: 12pt;