@import "variables.scss";
@import "headerFooterCV";
@import "indexCV";
@import "blog";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Contenido*/

/*-----Estilo animaciones Footer---*/
/*-----Estilos animaciones Profile----*/
/*-------Estilos Animaciones BLog------*/
/*-------Estilos Animaciones Pyme------*/



